<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid body-content">
	<div class="row title-row" style="text-align:center">
		<div class="col-2">
			<div class="row">
				<app-save-controls></app-save-controls>
			</div>
		</div>
		<div class="col-8">
			<h1>Welcome to Idle-Guild!</h1><h6>Where you, hypothetically, have a guild, but don't really interact with it much</h6>
		</div>
		<div class="col-2">
			<app-resource-display></app-resource-display>
		</div>
	</div>
	<div class="row play-area">
		<div class="col-3"> <app-purchaseables> </app-purchaseables></div>
		<div class="col-6"> </div>
		<div class="col-3">
			<app-owned-property> </app-owned-property>
		</div>
	</div>
</div>
