.play-area {
	min-height: 30rem;
}

.play-area>div:first-child {
	border-radius: 0 0 0 2rem;
}

.play-area>div:last-child {
	border-radius: 0 0 2rem 0;
}

.play-area>div {
	border: solid;
	border-color: black;
	border-width: 1px;
	padding: 1rem;
}

.body-content {
	margin: 1rem;
	width: calc(100% - 2rem);
}

.title-row {
	border: solid;
	border-color: black;
	border-radius: 2rem 2rem 0 0;
	border-width: 1px 1px 0 1px;
	padding: 2rem;
}
