.play-area {
	min-height: 30rem;
}

.play-area > div {
	border: solid;
	border-color: black;
	border-width: 0.1rem;
	padding: 1rem;
}

.play-area > div:first-child {
	border-bottom-left-radius: 2rem;
}

.play-area > div:last-child {
	border-bottom-right-radius: 2rem;
}

.body-content {
	margin: 1rem;
	width: calc(100% - 2rem);
}

.title-row {
	border: 0.1rem solid black;
	border-bottom-style: none;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	padding: 2rem;
}
