/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.scrollable {
	display: block;
	overflow: auto;
}

p {
	font-size: 0.75rem;
	margin: 0;
}
